*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a {
    text-decoration: none;
}

a,
img,
button,
span,
label,
input,
textarea { display: block; }

img {
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--White);
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items, .nav-submit-button {
    display: none;
}

#nav-list {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 80%;
    background: white;
    border-radius: 5px;
    padding: 2.5rem 20px 2.5rem 20px;
    gap: 31px;
    margin-top: 5rem;
    right: 2rem;
    left: 2rem;
    font-size: medium;
    font-weight: 700;
}

#menu-btn:hover,
#menu-btn:focus {
    cursor: pointer;
}

.hero-banner {
    margin-top: 7rem;
    padding: 1rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    gap: 16px;
    width: 100%;
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: #011716;
}

.hero-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #5F547C;
}

.split-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

input {
    max-width: 30rem;
    cursor: pointer;
    border: 1px black solid transparent;
}

input[type="text"] {
	border-radius: 5px;
	min-width: 20rem;
}

input:focus {
    outline: none;
}

input:focus:valid {
	border: 1px rgb(6, 199, 6) solid;
}

input:invalid {
	border: 1px red solid;
    content: Please enter a valid email;
}

.social-proof {
    background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
}

.testimonials {
    background-color: #EBF3F7;
}

.advert {
    background: #FFFFFF;
}

.advert .container {
    background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
    margin-top: 13em;
}

@media screen and (min-width: 320px) and (max-width: 480px)  {
    .hero-section .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .hero-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 335px;
        height: 341px
    }

    .hero-content {
        width: 335px;
        height: 205px;
        padding: 0px;
        margin: 0px auto;
    }

    .hero-title {
        width: 335px;
        height: 117px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #011716;
    }

    .hero-text {
        width: 335px;
        height: 72px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #5F547C;
    }

    .spilt-form {
        flex-direction: column;
        width: 335px;
        height: 112px;
    }

    input[type = "text"] {
        width: 335px;
        height: 48px;
        padding: 8px 0px 8px 0px;
    }

    .submit-button {
        display: inline-block;
        border-radius: 10px;
        background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
        width: 335px;
        height: 48px;
        color: #FFFFFF;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
    }

    .social-proof {
        background: #FCFCFC;
        margin: 1.5rem 2rem;
        width: 335px;
        height: 232px;
    }

    .social-proof .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        gap: 8px;
        width: 319px;
        /*height: 168px;*/
    }

    .social-heading {
        width: 319px;
        height: 48px;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #0D0726;
        margin-top: 2em;
    }   

    .logos-mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    
    .logos {
        display: none;
    }

    .About .container {
        margin: 1rem 2.3rem;
    }

    .about-banner {
        margin-bottom: 1em;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 335px;
        /*height: 358px;*/
    }

    .about-heading {
        width: 335px;
        height: 78px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #011716;
    }
    .about-text {
        display: none;
    }

    .about-submit-button {
        display: inline-block;
        border-radius: 10px;
        background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
        width: 168px;
        height: 48px;
        color: #FFFFFF;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
    }

    .mob-about-text {
        width: 335px;
        height: 264px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #5F547C;
    }

    .test-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 32px auto;
        gap: 16px;
        width: 375px;
        height: 1281px;
    }

    .test {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 335px;
        height: 395px;
        background: #FFFFFF;
        border-radius: 8px;
        margin-top: 1rem;
    }

    .test-img {
        width: 335px;
        height: 235px;
        background: linear-gradient(0deg, rgba(0, 103, 162, 0.2), rgba(0, 103, 162, 0.2));
        border-radius: 8px 8px 0px 0px;
    }

    .test-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 16px 16px;
        gap: 8px;
        width: 335px;
        height: 144px;
    }

    .test-title {
        width: 303px;
        height: 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #011716;
    }

    .test-text {
        width: 303px;
        height: 96px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #5F547C;
    }

    .advert .container {
        display: flex;
        flex-direction: column-reverse;
        width: 375px;
        height: 510px;
        margin-top: 7rem;
    }

    .advert-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3.7em auto;
        gap: 16px;
        width: 335px;
        height: 142px;
    }

    .advert-title {
        width: 335px;
        height: 78px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
        align-self: stretch;
    }

    .advert-text {
        width: 335px;
        height: 48px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #FCFCFC;
    }

    .advert-img {
        display: none;
    }

    .advert-mobile {
        margin: 0px 56px;
        width: 263px;
        height: 331px;
    }

    .proof .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 32px auto;
        gap: 24px;
        width: 335px;
    }

    .proof-title {
        width: 335px;
        height: 78px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #011716;
    }

    .proof-articles {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 335px;
        height: 600px;
        
    }

    .proof-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 335px;
        height: 184px;
    }

    .safety-check {
        width: 35px;
        height: 35px;
    }

    .proof-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        width: 335px;
        height: 104px;
    }

    .proof-heading {
        width: 335px;
        height: 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #011716;
        align-self: stretch;
    }

    .proof-text {
        width: 335px;
        height: 72px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #5F547C;
        align-self: stretch;
    }

    .launch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 32px 20px;
        gap: 24px;
        height: 493px;
        background: #FCFCFC;
    }

    .launch .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 16px;
        gap: 24px;
        width: 335px;
        height: 429px;
        background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
        border-radius: 8px;
    }

    .launch-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 303px;
        height: 229px;
        align-self: stretch;
    }

    .launch-h3 {
        width: 295px;
        height: 117px;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #FFFFFF;
        align-self: stretch;
    }

    .launch-p {
        width: 303px;
        height: 96px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #FCFCFC;
        align-self: stretch;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 32px auto;
        gap: 32px;
        width: 375px;
        height: 438.1px;
        background: #FFFFFF;
        order: 3;
    }

    .footer-box-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: ;
        height: ;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 335px;
    }

    .footer-item3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        width: 335px;
        height: 214px;
    }

    h4 {
        width: 99px;
        height: 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #011716;        
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 14px;
        width: 335px;
        height: 162px
    }

    .fc-p {
        width: 335px;
        height: 48px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #011716;
    }

    .footer-item2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        width: 180px;
        height: 72.1px;
        order: 1;
    }

    .social-list {
        display: flex;
        align-items: flex-start;
        padding: 0px;
        gap: 14px;
        width: 180px;
        height: 20.1px;
        order: 1;
    }

    .attribution {
        display: none;
    }
    
}

@media screen and (min-width: 1024px) {
    .navbar {
        padding: 1rem 9rem;
    }

    #menu-btn, .mobile-menu {
        display: none;
    }

    .menu-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        padding-left: 24rem;
    }

    .menu-items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 8px;
        width: 357px;
        height: 28px;
    }

    .menu-list {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: #011716;
    }

    .nav-submit-button {
        display: inline-block;
        border-radius: 10px;
        background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
        width: 168px;
        height: 48px;
        color: #FFFFFF;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
    }
    
    .submit-button {
        display: inline-block;
        border-radius: 10px;
        background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
        width: 168px;
        height: 48px;
        color: #FFFFFF;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
    }
    
    .about-submit-button {
        display: inline-block;
        border-radius: 10px;
        background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
        width: 168px;
        height: 48px;
        color: #FFFFFF;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
    }

    .hero-section .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 1rem 9rem;
        gap: 24px;
        width: 1440px;
        height: 652.46px;
    }

    .hero-content {
        margin-top: 10em;
        margin-bottom: 2em;
        padding: 0px 0px;
    }

    .hero-title {
        width: 552px;
        height: 174px;
    }

    .hero-text {
        font-size: 24px;
        font-weight: 400;
        color: #5F547C;
        line-height: 150%;
        width: 558px;
        height: 108px;
    }

    .split-form {
        flex-direction: row;
        width: 552px;
        height: 48px
    }

    input[type = "text"] {
        width: 360px;
        height: 48px;
        padding: 8px 0px 8px 8px;
    }

    .social-proof .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 9rem;
        gap: 32px;
        width: 1440px;
        height: 244px;
    }

    .social-heading {
        font-size: 24px;
        font-weight: 400;
        color: white;
        width: 510px;
        height: 36px;
    }

    .logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 1128px;
        height: 48px;
    }

    .logos-mobile {
        display: none;
    }

    .About .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        padding: 1rem 9rem;
        width: 1440px;
        height: 799.81px;
    }

    .about-banner {
        width: 550px;
        height: 671px;
        margin: 2em 0;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        max-width: 552px;
        height: 492px;
    }

    .about-heading {
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: #011716;
    }

    .about-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #5F547C;
    }

    .mob-about-text {
        display: none;
    }

    .test-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 3rem 9rem;
        gap: 16px;
        width: 1440px;
        height: 555px;
    }

    .test {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 8px 0px;
        background: #FFFFFF;
        width: 360px;
        height: 443px;
    }

    .test-img1 {
        width: 364px;
        height: 238px;
    }

    .test-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 5px 16px;
        gap: 8px;
    }

    .test-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        align-self: stretch;
        color: #011716;
    }

    .test-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        align-self: stretch;
        color: #5F547C;
    }

    .advert .container {
        display: flex;
        flex-direction: row;
        padding: 0 9rem;
        width: 1440px;
        height: 588px;
    }

    .advert-img {
        width: 552px;
        height: 693px;
        margin-top: -10.54em;
    }

    .advert-mobile {
        display: none;
    }

    .advert-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-top: 192px;
        width: 552px;
        height: 204px;
    }

    .advert-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .advert-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #FFFFFF;
    }

    .proof .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 9rem 2rem 9rem;
        gap: 48px;
        background: #FFFFFF;
        width: 1440px;
        height: 488px;
    }

    .proof-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        color: #011716;
    }

    .proof-articles {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
        width: 1128px;
        height: 264px;
    }

    .proof-article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 1440px;
        height: 400px;
    }

    .safety-check {
        width: 64px;
        height: 64px;
    }

    .proof-heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color:  #011716;
    }

    .proof-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: #5F547C;
    }

    .launch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 64px 9rem;
        gap: 24px;
        background: #FCFCFD;
        width: 1440px;
        height: 400px;
    }

    .launch .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 0px 5rem 0px;
        gap: 24px;
        width: 1128px;
        height: 272px;
        background: linear-gradient(99.12deg, rgba(66, 0, 255, 0.99) -45.12%, #37E2D5 180.88%);
        border-radius: 8px;
    }

    .launch-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 780px;
        height: 136px;
    }

    .launch-h3 {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        width: 780px;
        height: 48px;
    }

    .launch-p {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #FCFCFD;
        width: 760px;
        height: 72px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 64px 156px 0px 156px;
        gap: 120px;
        width: 1440px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        width: 1128px;
    }

    .footer-box-grid {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 120px;
        width: 1128px;
        height: 204px;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
        width: 840px;
        height: 188px;
    }

    .footer-item2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        width: 264px;
        height: 84.1px;
    }

    h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #011716;
        width: 264px;
        height: 32px;
    }

    .social-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
        width: 180px;
        height: 20.1px;
    }

    .footer-item3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-block-end: 0px;
        gap: 32px;
        width: 264px;
        height: 188px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 14px;
        width: 193px;
        height: 124px;
    }

    .fc-p {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color:  #011716;
    }

    hr {
        margin: 0px 8rem 0px 9rem;
    }

    .footer-cta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 9rem;
    }

    .cta-p {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #5F547C;
        width: 312px;
        height: 24px;
    }

    .cta-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
        width: 337px;
        height: 24px;
    }

    .cta-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #5F547C;
    }
}